.rotating-avatar {
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes dropAndFade {
  0% {
    transform: translateY(-100px);
    opacity: 0;
    filter: blur(10px);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes shakeButton {

  0%,
  100% {
    transform: translateX(-50%) rotate(0deg);
  }

  25% {
    transform: translateX(-50%) rotate(-5deg);
  }

  50% {
    transform: translateX(-50%) rotate(5deg);
  }

  75% {
    transform: translateX(-50%) rotate(-5deg);
  }
}

.wechat-button {
  animation:
    dropAndFade 1s ease-out,
    shakeButton 0.5s ease-in-out 1s infinite;
  animation-play-state: running;
  animation-delay: 0s, 2s;
  animation-iteration-count: 1, infinite;
}

/* 移除了 .rotating-avatar 相关的动画 */